include Makefile
include regen_frozen.py
include requirements.txt
include requirements-dev.txt
recursive-exclude src *.pyc
recursive-include src *.c *.h *.rc python.manifest
graft src/*/icons
graft tests
prune src/*/frozen
