name: Build wheels

on:
  release:
    types:
      - created
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  matrix:
    name: Generate matrix of builds
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.13"

      - name: Extra includes
        id: includes
        run: |
          # Support Python 3.10 to 3.14 on major platforms
          # Support Python 3.11 to 3.14 on lesser-known Linux platforms
          # Support Python 3.11 to 3.14 on Windows ARM64 (win_arm64).
          import json, os
          include = [
              {
                  "os": "ubuntu",
                  "os-version": "latest",
                  "arch": "x86_64",
                  "tag": "cp3{10,11,12,13,13t,14,14t}-manylinux_x86_64",
              },
              {
                  "os": "windows",
                  "os-version": "latest",
                  "arch": "x86_64",
                  "tag": "cp3{10,11,12,13,13t,14,14t}-win_amd64",
              },
              {
                  "os": "macos",
                  "os-version": "15",
                  "arch": "universal2",
                  "tag": "cp3{10,11,12,13,13t,14,14t}-macosx_universal2",
              },
          ]
          if "${{ github.event_name }}" != "pull_request":
            include += [
                {
                    "os": "ubuntu",
                    "os-version": "latest",
                    "arch": "x86_64",
                    "tag": "cp3{11,12,13,13t,14,14t}-musllinux_x86_64",
                },
                {
                    "os": "ubuntu",
                    "os-version": "24.04-arm",
                    "arch": "arm64",
                    "tag": "cp3{11,12,13,13t,14,14t}-manylinux_aarch64",
                },
                {
                    "os": "ubuntu",
                    "os-version": "24.04-arm",
                    "arch": "arm64",
                    "tag": "cp3{11,12,13,13t,14,14t}-musllinux_aarch64",
                },
                {
                    "os": "ubuntu",
                    "os-version": "22.04",
                    "arch": "ppc64le",
                    "tag": "cp3{11,12,13,13t,14,14t}-manylinux_ppc64le",
                },
                {
                    "os": "windows",
                    "os-version": "11-arm",
                    "arch": "arm64",
                    "tag": "cp3{11,12,13,13t,14,14t}-win_arm64",
                },
                {
                    "os": "windows",
                    "os-version": "latest",
                    "arch": "x86_64",
                    "tag": "cp3{10,11,12,13,13t,14,14t}-win32",
                },
            ]
          with open(os.environ["GITHUB_OUTPUT"], "a+") as f:
            print("data="+json.dumps({"include": include}), file=f)
          print("data="+json.dumps({"include": include}))
        shell: python

    outputs:
      data: ${{ steps.includes.outputs.data }}

  build_wheel:
    needs: matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.matrix.outputs.data) }}
    name: Build [${{ matrix.os }}-${{ matrix.os-version }}-${{ matrix.arch }}](job-${{ strategy.job-index }})
    runs-on: ${{ matrix.os }}-${{ matrix.os-version }}
    defaults:
      run:
        shell: bash
    env:
      UV_SYSTEM_PYTHON: true
    permissions:
      contents: read
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: marcelotduarte/freeze-core

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.13"

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Set up QEMU
        if: runner.os == 'Linux' && matrix.arch != 'x86_64' && matrix.arch != 'arm64'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: ${{ matrix.arch }}

      - name: Bump new dev version
        if: github.event_name != 'release'
        run: ./ci/bump-version.sh build-dev

      - name: Build sdist and wheels
        run: ./ci/build-wheel.sh "${{ matrix.tag }}"

      - name: Upload the artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: freeze-core-wheel-${{ matrix.os }}-job-${{ strategy.job-index }}
          path: wheelhouse
          compression-level: 0 # no compression

  publish:
    if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags')
    name: Publish package to PyPI
    needs: build_wheel
    environment:
      name: pypi
      url: https://pypi.org/p/freeze-core
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Download all artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: wheelhouse
          pattern: freeze-core-wheel-*
          merge-multiple: true

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
        with:
          packages-dir: wheelhouse/
          skip-existing: true
          verbose: true
